[submodule "backend"]
	path = backend
	url = https://github.com/StaburovAlexey/app-reservation-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/StaburovAlexey/app-reservation-frontend.git
